[Unit]
Description=Create cache in /tmp/%u

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=-/usr/bin/mkdir -m 0700 -p /tmp/%u
ExecStart=-/usr/bin/mkdir /tmp/%u/.cache
ExecStart=-/usr/bin/mkdir /tmp/%u/.compose-cache
ExecStart=-/usr/bin/mkdir /tmp/%u/.acestream_cache
ExecStart=-/usr/bin/mkdir /tmp/%u/Downloads
ExecStart=-/bin/sh -c 'mkfifo /tmp/haron/{CT,CU,DO,MEM,MW2,NT,PS,RU,TEMP,TR,TU,UP,UT,VO,WI} && chmod 644 /tmp/haron/{CT,CU,DO,MEM,MW2,NT,PS,RU,TEMP,TR,TU,UP,UT,VO,WI,wi_data,wi_socket}'
ExecStart=-/usr/bin/touch /tmp/%u/MW1
ExecStart=-/usr/bin/rm -r %h/.cache
ExecStart=-/usr/bin/rm -r %h/.compose-cache
ExecStart=-/usr/bin/ln -s /tmp/%u/.cache %h/.cache
ExecStart=-/usr/bin/ln -s /tmp/%u/.compose-cache %h/.compose-cache

ExecStop=-/usr/bin/rm -r /tmp/%u
ExecStop=-/usr/bin/mkdir %h/.cache
ExecStop=-/usr/bin/mkdir %h/.compose-cache

[Install]
WantedBy=default.target
