[Unit]
Description=Create cache in /tmp/%u

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=-/usr/bin/mkdir -m 0700 -p /tmp/%u
ExecStart=-/usr/bin/mkdir /tmp/%u/.cache
ExecStart=-/usr/bin/mkdir /tmp/%u/.acestream_cache
ExecStart=-/usr/bin/mkdir /tmp/%u/Cache
ExecStart=-/usr/bin/mkdir /tmp/%u/Downloads
ExecStart=-/usr/bin/mkfifo /tmp/%u/upd
ExecStart=-/usr/bin/mkfifo /tmp/%u/wi_output
ExecStart=-/usr/bin/mkfifo /tmp/%u/minwin
ExecStart=-/usr/bin/touch /tmp/%u/.null
ExecStart=-/usr/bin/touch /tmp/%u/MW
ExecStart=-/usr/bin/rm -r %h/.cache
ExecStart=-/usr/bin/ln -s /tmp/%u/.cache %h/.cache

ExecStop=-/usr/bin/rm -r /tmp/%u
ExecStop=-/usr/bin/mkdir %h/.cache

[Install]
WantedBy=default.target
