[Unit]
Description=Create cache in /tmp/%u

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=-/usr/bin/mkdir -m 0700 -p /tmp/%u
ExecStart=-/usr/bin/mkdir /tmp/%u/.cache
ExecStart=-/usr/bin/mkdir /tmp/%u/.acestream_cache
ExecStart=-/usr/bin/mkdir /tmp/%u/Cache
ExecStart=-/usr/bin/mkdir /tmp/%u/Downloads
ExecStart=-/usr/bin/mkfifo /tmp/%u/UP
ExecStart=-/usr/bin/mkfifo /tmp/%u/WI
ExecStart=-/usr/bin/mkfifo /tmp/%u/VO
ExecStart=-/usr/bin/mkfifo /tmp/%u/MW2
ExecStart=-/usr/bin/mkfifo /tmp/%u/TR
ExecStart=-/usr/bin/mkfifo /tmp/%u/CU
ExecStart=-/usr/bin/mkfifo /tmp/%u/TCPU
ExecStart=-/usr/bin/mkfifo /tmp/%u/TMB
ExecStart=-/usr/bin/mkfifo /tmp/%u/TGPU
ExecStart=-/usr/bin/mkfifo /tmp/%u/MU
ExecStart=-/usr/bin/mkfifo /tmp/%u/SU
ExecStart=-/usr/bin/mkfifo /tmp/%u/RU
ExecStart=-/usr/bin/mkfifo /tmp/%u/PS
ExecStart=-/usr/bin/touch /tmp/%u/MW1
ExecStart=-/usr/bin/touch /tmp/%u/.null
ExecStart=-/usr/bin/chmod 770 /tmp/haron/{CT,CU,MU,MW1,MW2,PS,RU,SU,TCPU,TGPU,TMB,TR,UP,VO,WI,wi_data,wi_socket}
ExecStart=-/usr/bin/rm -r %h/.cache
ExecStart=-/usr/bin/ln -s /tmp/%u/.cache %h/.cache

ExecStop=-/usr/bin/rm -r /tmp/%u
ExecStop=-/usr/bin/mkdir %h/.cache

[Install]
WantedBy=default.target
