[Unit]
Description=CPU load calculation service

[Service]
Type=simple
ExecStart=-/home/haron/.local/bin/XMCpuLoad

[Install]
WantedBy=default.target
