[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/transmission-daemon --pid-file /home/haron/./local/run/transmission.pid -f --log-error --config-dir /home/haron/.config/transmission
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=default.target
