[Unit]
Description=uptime service

[Service]
Type=simple
ExecStart=/home/haron/.local/bin/XMUptime
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=default.target
