[Unit]
Description=zshistory synchronize service
After=network.target

[Service]
Type=simple
ExecStart=-/bin/zsh -c 'rm -f $HOME/.zsh_history.bak && cp $HOME/.zsh_history $HOME/.zsh_history.bak'
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=default.target
