/.project

\.config/sublime-text-3/Packages/User/Package Control\.last-run

\.config/sublime-text-3/Packages/User/Package Control\.cache/*\.info

\.config/sublime-text-3/Packages/User/Package Control\.cache/*

\.config/gtk-2\.0/gtkfilechooser\.ini

\.config/mpv/watch_later/

\.config/gtk-3\.0/bookmarks

\.xmonad/history

\.xmonad/prompt-history

\.xmonad/resources

\.xmonad/xmonad-x86_64-linux

\.xmonad/xmonad\.errors

\.xmonad/xmonad\.hi

\.xmonad/xmonad\.state

\.config/mpd/log

\.config/mpd/pid

\.config/mpd/state

*.tdb

\.config/pulse/*-default-sink

\.config/pulse/*-default-source

\.config/pulse/cookie

\.config/Transmission Remote GUI/run

\.config/Transmission Remote GUI/transgui\.ini
