*.[oa]
*~
.config/mpd/log
.config/mpd/state
.config/mpd/pid
.config/mpv/watch_latter/*
.xmonad/history
.xmonad/xmonad.errors
.xmonad/xmonad.state
.config/sublime-text-3/Packages/User/Package Control.cache/*
