Xft.dpi:                           96
Xft.autohint:                      false
Xft.lcdfilter:                     lcddefault
Xft.hintstyle:                     hintsfull
Xft.hinting:                       true
Xft.antialias:                     true
Xft.rgba:                          rgb!

Xcursor.theme:                     Oxygen Black
Xcursor.size:                      22

! color0                           black
! color1                           red (тёмно-красный)
! color2                           green (тёмно-зелёный)
! color3                           yellow (тёмно-жёлтый)
! color4                           blue (тёмно-синий)
! color5                           purple (фиолетовый)
! color6                           cyan (бирюзовый)
! color7                           white
! color8                           darkgray
! color9                           red (тёмно-розовый)
! color10                          green (светло-зелёный)
! color11                          yellow (светло-жёлтый)
! color12                          blue (голубой)
! color13                          purple (сиреневый)
! color14                          cyan (светло-бирюзовый)
! color15                          gray

*color0:                           #000
*color1:                           #C00000
*color2:                           #00C000
*color3:                           #C0C000
*color4:                           #0C00C0
*color5:                           #A0A
*color6:                           #0AA
*color7:                           #FFF
*color8:                           #151515
*color9:                           #F88
*color10:                          #80FF80
*color11:                          #FF8
*color12:                          #9CF
*color13:                          #B14CC2
*color14:                          #9FF
*color15:                          #757575

! Common parameters

*transparent:                     false
*cursorBlink:                     true
*cursorUnderline:                 true
*saveLines:                       999
*background:                      #151515
*foreground:                      #BBB
*colorUL:                         #6AC
*cursorColor:                     #F00
*shading:                         75
*mouseWheelScrollPage:            false
*pointerBlank:                    true
*pointerColor:                    #656565
*imLocale:                        en_US.utf8
*imFont:                          xft:Terminus Re33:size=11:antialias=false:hinting=true
*utf8Title:                       true

! XTerm/UXTerm parameters

*termName:                        xterm-256color
*locale:                          true
*metaSendsEscape:                 true
*renderFont:                      true
*faceName:                        xft:Terminus Re33:size=11:antialias=false:hinting=true
*bellIsUrgent:                    true
*scaleHeight:                     1.01
*borderWidth:                     0
*selectToClipboard:               true
*allowSendEvents:                 false
*sessionMgt:                      false
*eightBitInput:                   true
*VT100*colorULMode:               on
*VT100*colorBDMode:               off
*VT100.titeInhibit:               off
*VT100.translations:              #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
*VT100.geometry:                  80x32
*SimpleMenu*background:           #353535
*SimpleMenu*foreground:           #AAA
*dynamicColors:                   true

! URxvt parameters

URxvt*font:                       xft:Terminus Re33:size=11:antialias=false:hinting=true
URxvt*boldFont:                   xft:Terminus Re33:size=11:antialias=false:hinting=true
URxvt*letterSpace:                 -1
URxvt*scrollBar:                  false
URxvt*internalBorder:             5
URxvt*skipBuiltinGlyphs:          true
URxvt*perl-lib:                   /home/haron/.config/urxvt/perl
URxvt*perl-ext-common:            default,tabbedex,clipboard,matcher,url-select,url-picker,osc-xterm-clipboard,resize-font,vtwheel
URxvt*iso14755:                   false
URxvt*iso14755_52:                false
URxvt*keysym.Control-Shift-C:     perl:clipboard:copy
URxvt*keysym.Control-Shift-V:     perl:clipboard:paste
URxvt*matcher.button:             1
URxvt*keysym.C-Delete:            perl:matcher:last
URxvt*keysym.M-Delete:            perl:matcher:list
URxvt*matcher.pattern.0:          (?:https?:\\/\\/|ftp:\\/\\/|rsync:\\/\\/|news:\\/\\/|mailto:|file:\\/\\/|\\bwww\\.)\n\[a-zA-Z0-9\\x{0410}-\\x{044F}\\-\\@;\\/?:&=%\\$_.+!*\\x27,~#]*\n\(\n\\\([a-zA-Z0-9\\x{0410}-\\x{044F}\\-\\@;\\/?:&=%\\$_.+!*\\x27,~#]*\\)| # Allow a pair of matched parentheses\n\[a-zA-Z0-9\\x{0410}-\\x{044F}\\-\\@;\\/?:&=%\\$_+*~]  # exclude some trailing characters (heuristic)\n\)+
URxvt*url-select.launcher:        /usr/bin/xdg-open
URxvt*url-launcher:               /usr/bin/xdg-open
URxvt*keysym.M-w:                 perl:url-select:select_next
URxvt*underlineURLs:              true
URxvt*tabbed.new-button:          no
URxvt*tabbed.tabbar-fg:           12
URxvt*tabbed.tabbar-bg:           8
URxvt*tabbed.tab-fg:              8
URxvt*tabbed.tab-bg:              12
URxvt*tabbed.title-fg:            12
URxvt*tabbed.title-bg:            8
URxvt*tabbed.autohide:            true
URxvt*tabbed.reopen-on-close:     yes
URxvt*urgentOnBell:               true
URxvt*resize-font.smaller:        C-Down
URxvt*resize-font.bigger:         C-Up
