! Author - Haron Prime
! License WTFPL © 2017 http://www.wtfpl.net/

Xft*dpi:                           96
Xft*autohint:                      true
Xft*hintstyle:                     hintslight
Xft*lcdfilter:                     lcddefault
Xft*embolden:                      false
Xft*render:                        true
Xft*hinting:                       true
Xft*antialias:                     true
Xft*rgba:                          rgb

! *Font:                             xft:SonyEricssonLogo:size=11:antialias=true:hinting=true

Xcursor.theme:                     Oxygen Black
Xcursor.size:                      22

Xmessage*defaultButton:            okay
Xmessage*form.message.Scroll:      WhenNeeded

! Colors

! color0/color8                    black/darkgray
*color0:                           #000
*color8:                           #151515

! color1/color9                    red (тёмно-красный/тёмно-розовый)
*color1:                           #FF6500
*color9:                           #FF8080

! color2/color10                   green (тёмно-зелёный/светло-зелёный)
*color2:                           #00C000
*color10:                          #80FF80

! color3/color11                   yellow (тёмно-жёлтый/светло-жёлтый)
*color3:                           #C0C000
*color11:                          #FFFF80

! color4/color12                   blue (тёмно-синий/голубой)
*color4:                           #0C00C0
*color12:                          #95C5FF

! color5/color13                   purple (фиолетовый/сиреневый)
*color5:                           #A0A
*color13:                          #B14CC2

! color6/color14                   cyan (бирюзовый/светло-бирюзовый)
*color6:                           #0AA
*color14:                          #9FF

! color7/color15                   white/gray
*color7:                           #FFF
*color15:                          #757575

! Common parameters

*transparent:                      false
*lineSpace:                        0
! *letterSpace:                      -1
! *fading:                           30
*cursorBlink:                      true
*cursorUnderline:                  true
*saveLines:                        4096
*background:                       #151515
*foreground:                       #BBB
*colorUL:                          #6AC
*cursorColor:                      #F00
*shading:                          75
*mouseWheelScrollPage:             false
*pointerBlank:                     true
*pointerColor:                     #656565
*imLocale:                         en_US.utf8
*imFont:                           xft:Terminus Re33 Nerd Bold:size=12:antialias=false:hinting=true
*utf8Title:                        true

! XTerm/UXTerm parameters

*xterm*termName:                   xterm-256color
*xterm*locale:                     true
*xterm*utf8:                       2
*xterm*metaSendsEscape:            true
*xterm*renderFont:                 true
*xterm*faceName:                   xft:Terminus Re33 Nerd Bold:size=12:antialias=false:hinting=true
*xterm*bellIsUrgent:               true
*xterm*scaleHeight:                1.01
*xterm*borderWidth:                0
*xterm*selectToClipboard:          true
*xterm*allowSendEvents:            false
*xterm*sessionMgt:                 false
*xterm*VT100*colorULMode:          on
*xterm*VT100*colorBDMode:          off
*xterm*VT100.titeInhibit:          off
*xterm*VT100.translations:         #override \n Shift <Key>Home: scroll-back(4096) \n Shift <Key>End: scroll-forw(4096)
*xterm*VT100.geometry:             80x32
*xterm*SimpleMenu*background:      #353535
*xterm*SimpleMenu*foreground:      #AAA
*xterm*dynamicColors:              true
*xterm*eightBitInput:              true
*xterm*eightBitControl:            false
*xterm*eightBitOutput:             true
*xterm*trimSelection:              true
*xterm*charClass:                  33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

! URxvt parameters

URxvt*font:                        xft:Terminus Re33 Nerd:size=12:antialias=false:hinting=true
URxvt*boldFont:                    xft:Terminus Re33 Nerd:weight=bold:size=12:antialias=false:hinting=true
URxvt*scrollBar:                   false
URxvt*borderLess:                  false
URxvt*internalBorder:              5
URxvt*depth:                       32
URxvt*skipBuiltinGlyphs:           true
URxvt*perl-lib:                    /home/haron/.config/urxvt/perl
URxvt*perl-ext-common:             default,tabbedex,clipboard,matcher,url-select,url-picker,osc-xterm-clipboard,resize-font,vtwheel
URxvt*iso14755:                    false
URxvt*iso14755_52:                 false
URxvt*cutchars:                    BACKSLASH '"'&()*,;<=>?@[]^{|}
URxvt*keysym.Shift-Home:           command:\033]720;4096\007
URxvt*keysym.Shift-End:            command:\033]721;4096\007
URxvt*keysym.Control-Shift-C:      perl:clipboard:copy
URxvt*keysym.Control-Shift-V:      perl:clipboard:paste
URxvt*keysym.C-Delete:             perl:matcher:last
URxvt*keysym.M-Delete:             perl:matcher:list
URxvt*matcher.pattern.0:           (?:https?:\\/\\/|ftp:\\/\\/|rsync:\\/\\/|news:\\/\\/|mailto:|file:\\/\\/|\\bwww\\.)\n\[a-zA-Z0-9\\x{0410}-\\x{044F}\\-\\@;\\/?:&=%\\$_.+!*\\x27,~#]*\n\(\n\\\([a-zA-Z0-9\\x{0410}-\\x{044F}\\-\\@;\\/?:&=%\\$_.+!*\\x27,~#]*\\)| # Allow a pair of matched parentheses\n\[a-zA-Z0-9\\x{0410}-\\x{044F}\\-\\@;\\/?:&=%\\$_+*~]  # exclude some trailing characters (heuristic)\n\)+
URxvt*matcher.button:              1
URxvt*url-select.launcher:         /usr/bin/xdg-open
URxvt*url-launcher:                /usr/bin/xdg-open
URxvt*keysym.M-w:                  perl:url-select:select_next
URxvt*underlineURLs:               true
URxvt*tabbed.new-button:           no
URxvt*tabbed.tabbar-fg:            12
URxvt*tabbed.tabbar-bg:            8
URxvt*tabbed.tab-fg:               8
URxvt*tabbed.tab-bg:               12
URxvt*tabbed.title-fg:             12
URxvt*tabbed.title-bg:             8
URxvt*tabbed.autohide:             true
URxvt*tabbed.reopen-on-close:      yes
URxvt*urgentOnBell:                true
URxvt*resize-font.smaller:         C-Down
URxvt*resize-font.bigger:          C-Up

! XClock parameters

XClock*width:                      540
XClock*height:                     540
XClock*update:                     1
XClock*hourColor:                  cyan
XClock*minuteColor:                cyan
XClock*secondColor:                red
XClock*majorColor:                 red
XClock*minorColor:                 cyan
