[Unit]
Description=zshistory synchronize service

[Service]
Type=simple
ExecStart=/home/haron/.local/bin/zshist
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=default.target
