[Desktop Entry]
Type=Action
Name=SVim
Icon=pencil
Profiles=svim;

[X-Action-Profile svim]
Exec=urxvtc -name vim -e sudo vim %f
MimeTypes=text/plain;application/x-shellscript;application/x-perl;application/json;application/x-iwork-keynote-sffkey;application/x-theme;application/x-trash;application/x-extension-html;
SelectionCount==1
