@-moz-document url-prefix("https://archlinux.org.ru/"), url-prefix("http://archlinux.org.ru/") {
body {
    background-color: #252525 !important;
    color: #aaa !important;
    line-height: 1.3 !important;
}
.topic-list>tbody>tr:nth-child(odd)>td, .category-table>tbody>tr:nth-child(odd)>td, .topic-list>tbody>tr:nth-child(odd)>th, .category-table>tbody>tr:nth-child(odd)>th, .post-info, .post thead, .post tfoot, .block .header, .block .info, .navbar-nav>li>.dropdown-menu {
    background-color: #222 !important;
}
.navbar, .navbar-inverse, .navbar-inverse .navbar-collapse.wrapper  {
    position: fixed !important;
    z-index: 999 !important;
    width: 100% !important;
    min-height: 0px !important;
    background-image: none !important;
    border: none !important;
    background-color: #222 !important;
    box-shadow: 0px 4px 10px rgba(15,15,15,0.7) !important;
    font-size: 0.8em !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-image: none !important;
    background-color: #333 !important;
}
.input-group .form-control:first-child, .input-group-btn > .btn-default {
    height: 20px !important;
    font-size: 12px !important;
    vertical-align: middle !important;
    margin-top: 6px !important;
    padding-top: 0px !important;
    padding-bottom: 2px !important;
}
.breadcrumb {
    padding: 4px 8px !important;
    margin-top: 55px !important;
    margin-bottom: 10px !important;
    background: inherit !important;
    font-size: 1.2em !important;
}
.table.topic-list {
    margin-bottom: 10px !important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    line-height: 1.3 !important;
}
.label-info {
    background-color: #333 !important;
    color: #3a87ad !important;
    border: solid 1px #555 !important;
}
.label-danger {
    background-color: #333 !important;
    color: #d9534f !important;
    border: solid 1px #555 !important;
}
.forum .text-center .pagination {
    margin: 10px 0 !important;
}
.pagination>li>a, .pagination>li>span{
    line-height: 1.2 !important;
    font-size: 0.8em !important;
    margin: 8px 0 !important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #7bd !important;
    background-color: #555 !important;
    border-color: #555 !important;
}
a:hover, a:focus {
    color: #7bd !important;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    line-height: 1.2 !important;
    box-shadow: none !important;
    background-image: none !important;
    background-color: #333 !important;
    border: solid 1px #555 !important;
    font-size: 0.8em !important;
}
.btn-primary:hover, .btn-primary:focus {
    color: #7bd !important;
}
pre {
    color: #959595 !important;
    background: #222 !important;
    border: 1px solid #555 !important;
}
blockquote {
    background: #333 !important;
    border-left: 3px solid #959595 !important;
}
.form-control {
    background-color: #333 !important;
    color: #aaa !important;
}
.forum h1 {
    font-size: 1.1em !important;
    border: none !important;
    color: #bbb !important;
    font-weight: bold !important;
}
.post-signature {
    font-size: 0.8em !important;
    line-height: 1.2 !important;
}
.markItUpPreviewFrame {
    padding: 5px !important;
    background-color: #333 !important;
    border: 1px solid #555 !important;
}
@media (max-width: 980px) {
    .navbar-nav>li>a[href="https://archlinux.org/download/"], .navbar-nav>li>a[href="/donate/"] {
        display: none !important;
    }
}
}
