@-moz-document url-prefix("https://archlinux.org.ru/forum"), url-prefix("http://archlinux.org.ru/forum") {
/*Dark style fix for archlinux.org.ru/forum
Author - Haron Prime
License WTFPL © 2017 http://www.wtfpl.net/*/
body {
    background-color: #252525 !important;
}
.topic-list>tbody>tr:nth-child(odd)>td, .category-table>tbody>tr:nth-child(odd)>td, .topic-list>tbody>tr:nth-child(odd)>th, .category-table>tbody>tr:nth-child(odd)>th {
    background-color: #222 !important;
}
.post-info, .post thead, .post tfoot, .block .header, .block .info {
    background: #222 !important;
}
.navbar, .navbar-inverse, .navbar-inverse .navbar-collapse.wrapper  {
    position: fixed !important;
    z-index: 999 !important;
    width: 100% !important;
    min-height: 0px !important;
    background-image: none !important;
    border: none !important;
    background-color: #222 !important;
    box-shadow: 0px 8px 16px rgb(30, 30, 30) !important;
    font-size: 0.8em !important;
}
.input-group .form-control:first-child, .input-group-btn > .btn-default {
    height: 20px !important;
    font-size: 12px !important;
    vertical-align: middle;
    margin-top: 6px !important;
    padding-top: 0px !important;
    padding-bottom: 2px !important;
}
.breadcrumb {
    padding: 4px 8px;
    margin-top: 80px !important;
    background: #333 !important;
}
.label-info {
    background-color: #333 !important;
    color: #3a87ad !important;
    border: solid 1px #555 !important;
}
.label-danger {
    background-color: #333 !important;
    color: #d9534f !important;
    border: solid 1px #555 !important;
}
.pagination>li>a, .pagination>li>span{
    line-height: 1.2 !important;
    font-size: 0.8em !important;
    margin: 8px 0 !important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #7bd;
    background-color: #555 !important;
    border-color: #555 !important;
}
a:hover, a:focus {
    color: #7bd !important;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    line-height: 1.2 !important;
    box-shadow: none !important;
    background-image: none !important;
    background-color: #333 !important;
    border: solid 1px #555 !important;
}
pre {
    color: #959595 !important;
    background: #222 !important;
    border: 1px solid #555 !important;
}
.form-control {
    background-color: #333 !important;
    color: #aaa !important;
}
}
