[Unit]
Description=vnstat-reload service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/vnstat -u -i enp3s0
ExecStart=/home/haron/.local/bin/XMTraf
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=default.target
